.font-custom {
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 2px 2px 0px var(--dark);
}

.inspire {
    height: 100vh;
    overflow: hidden;
}

.collapsable {
    width: 240px !important;
}

.bg-dark-transparent {
    background-color: #272727c5;
}

.vh-33 {
    height: 33vh;
}

.vh-67 {
    height: 67vh;
}

.bg-img {
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

input[type=text] {
    background-color: var(--dark);
    color: var(--light);
}

.border-gray {
    border: 1px solid rgb(124, 124, 124) !important;
}

.task-item-button {
    width: 34px !important;
    height: 34px !important;
    font-size: 12px !important;
}

input[type=color] {
    background-color: var(--dark);
    width: 15px;
    height: 38px;
}

.hidden {
    display: none !important;
}